.persona {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 300PX;
    height: 300PX;
    background-color: rgb(63, 62, 62);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 12, 12);
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
   

}